*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
   
}
h1{
    text-align: center;
}
.generate-btn{
    width: 200px;
    height: 40px;
    margin-top: 4vmin;
    margin-left: 42%;
}
.container{
    width: 60vh;
    background-color: #f7e1d7;
    margin-top: 4vmin;
    margin-left: 36%;
    box-shadow: 2px 2px 5px black;
}
.container h3{
    text-align: center;
}
.mame{
   
     margin-top: 5vmin;
     margin-bottom: 2vmin;
    width: 100%;
    
}
p{
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 15px;
    font-weight: bold;
}
img{
    object-fit: cover;
    width:100%;
}
button{
    background-color: white;
    border-top: 1px;
    border-bottom: 1px;
    transition: 0.3s;
    font-size: 20px;
}
button:hover{
    /* width: 20%; */
   width: 20%;
   margin-left:38.5% ;
}
